.video {
    width: 100%;
    height: auto;
    background: #000;
}

.center {
    text-align: center;
}

.block-center {
    margin: 0 auto;
}

.img-50 {
    height: 50%;
}

.img-max-width{
    max-width: 50%;
}

.flow {
    height: auto;
    max-height: 500px;
    overflow: auto;
}

.img_title {
    width: 80px;
    height: 80px;
}


/*缩略图尺寸*/
.little_poster {
    width: 210px;
    height: 118px;
}

.title_of_poster {
    width:210px;
    height: auto;
}

.each_poster_title {
    width: 210px;
    height: 178px;
}

a:visited {
    color: #6b2452;
}