.video {
    width: 100%;
    height: auto;
    background: #000;
}

.center {
    text-align: center;
}

.block-center {
    margin: 0 auto;
}

.img-50 {
    height: 50%;
}

.flow {
    height: 600px;
    overflow: auto;
}