{% extends "base2.html" %}

{% block content %}
    <div class="container center">
        <img class="img-fluid img-50" src="/static/404/404.jpg" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-7">
                <img class="img-fluid" src="/static/404/404_t1.png" alt="你要的对象">
                <img class="img-fluid" src="/static/404/404_t2.png" alt="可能搭的士走左">
            </div>
            <div class="col-5" style="margin: auto 0;">
                <img class="img-fluid" src="/static/404/404_taxi.png" alt="">
            </div>
        </div>

    </div>
{% endblock %}