{% extends "base2.html" %}


{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/myvideo.css">

    <!--ajax-->
    <script src="/static/js/ajax.js"></script>
{% endblock %}


{% block content %}


    <div class="center">
        <img class="img-50" src="/static/todo.jpg">
        <footer class="blockquote-footer">Do anything
            <cite title="Don't think too much">you want</cite>
        </footer>
    </div>
    <div class="card-body mt-2 center">
        <form class="block-center" action={{ url_for("todo.add") }} method="post"> {# method="post" #}
            <input type="text" class="form-control" placeholder="let's do something" aria-label=""
                   aria-describedby="basic-addon1"
                   name="title">
            <input id="submit" class="btn btn-success border-left" type="button" value="Do it!">
        </form>
    </div>
    <div>
        <table class="table table-hover table-striped">
            <thead class="thead-dark">
            <tr class="text-center">
                <th> #</th>
                <th> Title</th>
                <th> Time</th>
                <th> Action</th>
            </tr>
            </thead>
            <tbody class="text-center">
            {% for t in todos %}
                <tr class="table-warning">
                    <td class="d-none">{{ t.id }}</td>
                    <td scope="row">{{ loop.index }}</td>
                    <td>{{ t.title }}</td>
                    <td>{{ t.ct }}</td>
                    <td><a id="{{ t.id }}" class="btn btn-danger"
                           href={{ url_for("todo.delete", todo_id=t.id) }}>delete</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}