{% extends "base2.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href={{ url_for('static', filename='css/myvideo.css') }}>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="col-auto">
            <video class="video" poster={{ '/' + path + 'poster/' + title + '.jpg' }} controls
                   controlsList="nodownload" oncontextmenu="return false">
                <source src="{{ '/' + path + title + '.MP4' }}" type="video/mp4">
                <source src="{{ '/' + path + title + '.WEBM' }}" type="video/webm">
                Your browser does not support HTML5 video.
            </video>
            <div class="text-center"><h2>{{ title }}</h2></div>
            {{ path + title + '.MP4' }}<br>
            {{ path + 'poster/' + title + '.jpg' }}
        </div>
    </div>
{% endblock %}